.containerDetail{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.descriptionDetail{
    padding-left: 100px;
}

.detail{
    display: flex;
  
  
}

.space{
    padding-left: 10px;
}

.reviews{
    display: flex;
    flex-direction: column;
}